<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
    <body>
         <div id="indexPage">
             
	    <div id="header">
		<ui:insert name="header" >
		  <ui:include src="header.xhtml" />
		</ui:insert>
	    </div>
           <div id="kapsayici">
	   
           <div id="loginOrtaMenu">
               <ui:insert name="ortaMenu">
                   <ui:include src="loginOrta.xhtml"/>
               </ui:insert>
           </div>
               </div>
              
       </div>
      
    </body>
</html>
