<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <body>
        <div id="gezinenCubuk"> <marquee scrolldelay="10" scrollamount="5" onmouseover="stop()" onmouseout="start()" style="font-size: xx-large;margin-top: 5px;" >Dar-ül Mülk 1453'ten Bugüne Hizmetinizde!</marquee></div>
       <div id="indexPage">
 
	    <div id="header">
		<ui:insert name="header" >
		  <ui:include src="header.xhtml" />
		</ui:insert>
	    </div>
           <div id="kapsayici">
	    <div id="solMenu">
	  	<ui:insert name="solMenu" >
	 	  <ui:include src="solMenu.xhtml" />
	   	</ui:insert>
	    </div>
           <div id="ortaMenu">
               <ui:insert name="ortaMenu">
                   <ui:include src="ortaMenu.xhtml"/>
               </ui:insert>
           </div>
           <div id="sagMenu">
               <ui:insert name="sagMenu">
                   <ui:include src="sagMenu.xhtml"/>
               </ui:insert>
           </div>
               </div>
              
       </div>
      
    </body>
</html>
