<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
    <h:body>
        <ui:composition template="Templates/template.xhtml">
            <ui:define name="ortaMenu">
                <div id="orta">
                    <h:form>
                            #{db.aramaYap()}
                             <ui:repeat var="veri" value="#{db.mulklistesiAra}">
                                 <div class="kategoriGoruntuleme">
                                    <table border="1">
                                         <tr>
                                             <td><b>İlan No:</b>#{veri.ilanid}</td>
                                             
                                             <td colspan="2"><b>Kayıt Tarihi: </b>#{veri.kayittarihi} </td>
                                            
                                         </tr>
                                         <tr>
                                              
                                             <td colspan="3"><b>Aciklama : </b>#{veri.aciklama}</td>
                                             
                                         </tr>
                                         
                                         <tr>
                                              
                                             <td colspan="3"><b>Adres : </b>#{veri.adres}</td>
                                             
                                         </tr>
                                         <tr>
                                             <td colspan="3"><a href="mulkGoruntule#{veri.kategoriid}.xhtml?mulkID=#{veri.ilanid}&#38;kategoriID=#{veri.kategoriid}">Mülkü Görüntüle</a></td>
                                         </tr>
                                     </table>
                                 </div>
                           </ui:repeat>
                        </h:form>
                </div>
            </ui:define>
        </ui:composition>
      
    </h:body>
     
</html>