<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

   
    <h:body>    
         <ui:composition template="Templates/loginTemplate.xhtml">
             <ui:define name="ortaMenu">
                 
                 <c:if   test="#{db.hesapKontrol()==true}"><script>alert('İzinsiz Giriş!!');window.location.replace('index.xhtml');</script></c:if>
        <h:form enctype="multipart/form-data">
<p:tabView style="width: 900px">
    <p:tab title="Mülk Ekle">
        <p:tabView style="width: 750px">
            
            <p:tab title="Arsa Ekle">
                Resim Seçiniz : 
                  <p:fileUpload value="#{db.yüklenecekDosya}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/><br/>
               
                Metrekaresi : <h:inputText value="#{db.metrekare}" id="text1"/>   Fiyatı : <h:inputText value="#{db.fiyat}"  id="text2"/>   <br/><br/>
                Bölge : <h:inputText style="margin-left:47px;" value="#{db.bölge}"  id="text4"/>  Yaşı: <h:inputText  id="text3" style="margin-left:15px;" value="#{db.yasi}"/> <br/> <br/>
               
              
              Krediye Uygunluk  
              
        <p:selectOneRadio id="radio1" value="#{db.kredi}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir"/>
           
        </p:selectOneRadio><br/>
        
        
        Konut Arsası
        <p:selectOneRadio id="radio2" value="#{db.konutarsasi}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir" />
           
        </p:selectOneRadio><br/>
        
        Ticari Arsa
        <p:selectOneRadio id="radio3" value="#{db.ticariarac}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir" />
           
        
        </p:selectOneRadio><br/>
        
        Sanayi Arsası
        <p:selectOneRadio id="radio4" value="#{db.sanayiarsasi}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir" />
           
        
        </p:selectOneRadio><br/>
        
        Tarla
        <p:selectOneRadio id="radio5" value="#{db.tarla}"> 
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir"/>
           
        
        </p:selectOneRadio><br/>
        
        İmar Durumu
        <p:selectOneRadio id="radio6" value="#{db.imardurumu}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir" />
           
        
        </p:selectOneRadio><br/>
        Satış Çeşidi
        <p:selectOneRadio id="radio7" value="#{db.satilikmi}">
             <f:selectItem itemLabel="Satılık" itemValue="E" />
            <f:selectItem itemLabel="Kiralık" itemValue="H" />
        </p:selectOneRadio><br/>
        Adres:  <h:inputTextarea id="textArea1" rows="5" cols="30" value="#{db.adres}"/> Açıklama:  <h:inputTextarea rows="5" cols="30" value="#{db.aciklama}"  id="textArea2"/>    
                
        <p:commandButton value="Gönder" style="margin-left:50px;margin-top: 40px;" action="#{db.arsaEkle()}" ajax="false"/>
            </p:tab>
           
            
           
            <p:tab title="Bina Ekle">
                 Resim Seçiniz : 
                 <p:fileUpload value="#{db.yüklenecekDosya2}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/><br/>
                Metrekaresi: <p:inputText value="#{db.binametrekare}"/> Fiyatı: <p:inputText value="#{db.binafiyat}"/> <br/><br/>
                Bölge:<p:inputText style="margin-left:55px;" value="#{db.binabölge}"/> Yaşı: <p:inputText value="#{db.binayasi}" style="margin-left:7px;"/><br/><br/>
                Krediye Uygunluk  
              
        <p:selectOneRadio id="radio8" value="#{db.binakredi}">
                    
            <f:selectItem itemLabel="Evet" itemValue="Evet" />
            <f:selectItem itemLabel="Hayır" itemValue="Hayir" />
           
        </p:selectOneRadio>
                Satış Çeşidi
                <p:selectOneRadio id="radio9" value="#{db.binasatilikmi}">
                    
            <f:selectItem itemLabel="Satılık" itemValue="E" />
            <f:selectItem itemLabel="Kiralık" itemValue="H" />
           
        </p:selectOneRadio>
                <br/>İlan Çeşidi<br/>
        <p:selectOneMenu id="country" style="width:150px" value="#{db.binakategoriID}">
              
                <f:selectItem itemLabel="Çeşit Seçiniz" itemValue="0" noSelectionOption="true" />
                <f:selectItem itemLabel="Daire" itemValue="1" />
                <f:selectItem itemLabel="Dükkan" itemValue="2" />
                <f:selectItem itemLabel="Fabrika" itemValue="3" />
                <f:selectItem itemLabel="Villa" itemValue="4" />
               
            </p:selectOneMenu>
                
                <br/>
                Adres:  <p:inputTextarea rows="5" cols="30" value="#{db.binaadres}"/> Açıklama:  <p:inputTextarea rows="5" cols="30" value="#{db.binaaciklama}"/>   
                <p:commandButton value="Gönder" style="margin-left:50px;margin-top: 40px;" ajax="false" action="#{db.binaEkle()}"/>
            </p:tab>
               
        </p:tabView>
    </p:tab>            
                  
    <p:tab title="Mail Atma">
        Adminlik için başlığa 'Adminlik İsteği' Yazınız..<br/><br/> 
    Baslik: <p:inputText value="#{db.mailBaslik}"></p:inputText><br/><br/>
    İçerik: <p:inputTextarea value="#{db.mailIcerik}"></p:inputTextarea><br/><br/>
    <p:commandButton value="Gönder" action="#{db.mailGonderKullanici()}" ajax="false"></p:commandButton>
            
    </p:tab>
       
    <p:tab title="Hesap Ayarları">
        <p:tabView style="width: 750px">
             
         <p:tab title="Şifre Değiştir">
             Eski Şifrenizi Giriniz: <p:inputText value="#{db.esifre}"/><br/><br/>
             Yeni Şifrenizi Giriniz: <p:inputText value="#{db.ysifre}"/><br/><br/>
             
             <p:commandButton value="Değiştir" action="#{db.sifreDegistir()}" ajax="false" />
         </p:tab>
                 
            <p:tab title="E-Mail Değiştir">
         Yeni Mail adresi:<p:inputText value="#{db.mail}"  style="margin-left: 1px;"/><br/>
         Şifreniz: <p:inputText value="#{db.sifre}" style="margin-left: 40px;"/><br/>
                
           <p:commandButton value="Değiştir" action="#{db.mailDegistir()}" ajax="false"/><br/>
    </p:tab>
                  
            <p:tab title="Hesap Silme">
                Şifrenizi Giriniz : <p:inputText value="#{db.sifre}"></p:inputText>
                <p:commandButton value="Hesabı Sil!" style="color: red" action="#{db.hesapSil()}" ajax="false"></p:commandButton>
            </p:tab>
                   
            </p:tabView>
    </p:tab>

     
    <p:tab title="Çıkış" >
        <h:commandButton value="Çıkış Yap" action="#{db.logout()}" />
    </p:tab>
      
   
</p:tabView>
        </h:form>
                 </ui:define>
        </ui:composition>
    </h:body>
</html>
