<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
   
    <h:body>
         
        <ui:composition template="Templates/template.xhtml">
            <ui:define name="ortaMenu">
               #{db.mulkDetayAl()}
                <div id="orta">
                    <div id="mulkGoruntule">
                        <table border="1">
                            <tr>
                                <th colspan="2">Mülkün Resmi;</th>
                            </tr>
                            <tr>
                                 <td colspan="2"><p:graphicImage value="#{db.dbImage}" width="300px" height="300px"/></td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Detaylar
                                </th>
                            </tr>
                            
                            <tr>
                                <td>
                                    <b>Fiyat: </b>#{db.fiyat}
                                </td>
                                <td>
                                    <b>MetreKaresi:</b> #{db.metrekare}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Bölge :</b> #{db.bölge}
                                </td>
                                <td>
                                    <b>Yaşı :</b> #{db.yasi}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Krediye Uygunluk : </b>#{db.kredi}
                                </td>
                                <td>
                                    <b> Tarih:</b> #{db.tarih}
                                </td>
                            </tr>
                            
                             <tr>
                                <td>
                                    <b> Konut Arsası: </b>#{db.konutarsasi}
                                </td>
                                 <td>
                                    <b>Ticari Arsa:</b>#{db.ticariarac}
                                </td>
                                
                            </tr>
                            <tr>
                                 <td>
                                     <b>İmar  Durumu</b> #{db.imardurumu}
                                </td>
                                <td>
                                    <b>Sanayi Arsası:</b> #{db.sanayiarsasi}
                                </td>
                                
                            </tr>
                            <tr>
                                 <td colspan="2">
                                     <b>Tarla  Arsası:</b>#{db.tarla}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b>Adres: </b>#{db.adres}
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b>Açıklama: </b>#{db.aciklama}
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <th colspan="2">İletişim Bilgileri; </th>
                            </tr>
                            
                            <tr>
                                <td>
                                    <b>Telefon Numarası : </b>#{db.telno}
                                </td>
                                <td>
                                    <b>Email Adresi :</b> #{db.email}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
      
    </h:body>
</html>