<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <h:body>
        <ui:composition template="Templates/loginTemplate.xhtml">
            <ui:define name="ortaMenu">
                #{raporlamaBean.mulkRaporlama()}
                <table border="3" bgcolor="#F0F0F5">
                    <tr>
                        <th>Toplam Mülk Fiyatı </th>
                        <th>En Ucuz Mülk </th>
                        <th>En Pahalı Mülk </th>
                        <th>Toplam Mülk Sayısı </th>
                        <th>Toplam Arsa Sayısı </th>
                        <th>Toplam Daire Sayısı </th>
                        <th>Toplam Dükkan Sayısı </th>
                        <th>Toplam Fabrika Sayısı </th>
                        <th>Toplam Villa Sayısı </th>
                        <th>Toplam Kayıtlı Kullanıcı Sayısı </th>
                        <th>En Son Ekleme Tarihi</th>
                        <th>En Çok Mülk Ekleyen Kullanıcı </th>
                        <th>Bu Kullanıcının Eklediği Mülk Sayısı</th>
                    </tr>
                    <tr>
                        <td>#{raporlamaBean.toplamMulkFiyatları}</td>
                        <td>#{raporlamaBean.enUcuz}</td>
                        <td>#{raporlamaBean.enPahalı}</td>
                        <td>#{raporlamaBean.toplamMulkSayısı}</td>
                        <td>#{raporlamaBean.toplamArsaSayısı}</td>
                        <td>#{raporlamaBean.toplamDaireSayısı}</td>
                        <td>#{raporlamaBean.toplamDukkanSayısı}</td>
                        <td>#{raporlamaBean.toplamFabrikaSayısı}</td>
                        <td>#{raporlamaBean.toplamVillaSayısı}</td>
                        <td>#{raporlamaBean.toplamKayıtlıKullanıcı}</td>
                        <td>#{raporlamaBean.enSonEklenme}</td>
                        <td>#{raporlamaBean.maxMulkEkleyenKullanici}</td>
                        <td>#{raporlamaBean.kullaniciMaxMulkEkleme}</td>  
                    </tr>
                    
                </table>
                <h:form>
                    <h:commandButton action="index.xhtml?faces-redirect=true" value="Anasayfaya Git"/>
                </h:form>
            </ui:define>
       </ui:composition>
    </h:body>
</html>

